<section class="center mw6 pl3 pr3 pl0-ns pr0-ns pt6 lh-copy">
  <h1 class="f3 f2-ns lh-title black-90">
    Nice to meet… me
  </h1>
  <div class="cf pt4 pb5">
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f6 ml0 small-caps black-60 mb1">coffee craft</dd>
      <dd class="f6 fw6 ml0">V60, Aeropress</dd>
    </dl>
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f6 ml0 small-caps black-60 mb1">design dexterity</dd>
      <dd class="f6 fw6 ml0">Interaction, Visual, Product</dd>
    </dl>
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f6 ml0 small-caps black-60 mb1">trivia tidbits</dd>
      <dd class="f6 fw6 ml0">Movies, Seinfeld</dd>
    </dl>
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f6 ml0 small-caps black-60 mb1">code capabilities</dd>
      <dd class="f6 fw6 ml0">HTML, CSS, JavaScript</dd>
    </dl>
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f6 ml0 small-caps black-60 mb1">photog preference</dd>
      <dd class="f6 fw6 ml0">Fujifilm X-T2</dd>
    </dl>
  </div>
  <div class="f4">
    <p>
      I was born in Los Angeles, CA, but I grew up further North in Hillsborough, CA. My passion for art and design began at a young age when my parents consistently brought me to art galleries in San Francisco. I was often quizzed by a parent if a print of a famous piece was spotted around town: “Who do you think painted that?” “Sam Francis!” I would shout with excitement.
    </p>
    <p>
      Eventually I flew away to a bitter cold upstate New York to attend Cornell University where I studied Economics and Computer Science. My career in design began with a few courses on Human Computer Interaction, and culminated with research in machine vision, affective computing, and peripheral displays.
    </p>
    <p>
      After graduating I made the obvious decision to return to the San Francisco Bay Area, and pursue an opportunity at a tiny startup with a gigantic vision: Icontrol Networks. A decade passed, a few more startup experiences accumulated, and now I’m cranking on a variety of products at another small startup tackling a complicated problem: Xenio Systems.
    </p>
    <p>
      When I’m not talking about design, I’m brewing and sipping a shipment of light-roasted beans from Mistobox, arguing about movies, or sipping wine with my girlfriend, Remy. I’m active on Twitter and Instagram, and I occasionally write longer thoughts on my Journal. If you’d like to grab a coffee feel free to email me: <a href="mailto:me@diklein.com" class="linke blue">me@diklein.com</a>.
    </p>
  </div>
</section>

<hr class="center mw6 mv5 mv6-ns"/>

<!-- DOGS -->

<section class="center mw8">
  <img src="https://diklein.imgix.net/andy.jpg?auto=compress" alt="Andy shihtzu dog" data-action="zoom" />
  <!-- <img src="/img/andy.jpg" alt="Dogs" class="" data-action="zoom "/> -->
  <p class="f6 tc black-20">
    It's not weird that I have this photo. Relax.
  </p>
</section>
<section class="center mw6 pl3 pr3 pl0-ns pr0-ns lh-copy black-80 f4">
  <div class="b pb2 pt4">
    Dogs
  </div>
  <p>
    My Mother lives a few towns South of San Francisco with two shih tzus. Their names are Andy and Couture, but we mostly call them Pepe and Coco. Andy is 14 years old, and Couture is 2. They make me happy.
  </p>
</section>

<hr class="center mw6 mv5 mv6-ns"/>

<!-- PODCASTS -->

<section class="center mw6 pl3 pr3 pl0-ns pr0-ns lh-copy black-80 f4">

  <div class="b pb2">
    Podcasts
  </div>
  <p>
    Below is a growing (and occasionally shrinking) list of podcasts to which I listen. Yes, to which I listen. If I'm missing any please hit me up on <a href="htts://wwww.twitter.com/diklein" class="blue link">Twitter</a>.
  </p>
  <ul class="pl3 pl0-ns">
    <li class="pb3">
      <a href="http://99percentinvisible.org" class="blue link">99% Invisible</a> — The king of podcasts. In Overcast I specifically set this podcast to play at 1x because I believe every sound from <a href="https://twitter.com/romanmars" class="blue link">Roman Mars</a> is deliberate.
    </li>
    <li class="pb3">
      <a href="https://itunes.apple.com/us/podcast/accidental-tech-podcast/id617416468?mt=2" class="blue link">Accidental Tech Podcast</a> — Any podcast with <a href="http://hypercritical.co/" class="blue link">John Siracusa</a> complaining is a good podcast. <a href="https://marco.org/" class="blue link">Marco Arment</a> and <a href="https://www.caseyliss.com/" class="blue link">Casey Liss</a> join him to talk about Apple and other high-tech happenings.
    </li>
    <li class="pb3">
      <a href="https://itunes.apple.com/us/podcast/acquired-a-podcast-about-technology-acquisitions-ipos/id1050462261?mt=2" class="blue link">Acquired</a> — Ben Gilbert and David Rosenthal discuss tech and non-tech acquisitions and IPOs in detail.
    </li>
    <li class="pb3">
      <a href="https://itunes.apple.com/us/podcast/black-men-cant-jump-in-hollywood/id1023264209?mt=2" class="blue link">Black Men Can't Jump in Hollywood</a> — These guys are hilarious, and they review movies starring black actors and actresses.
    </li>
    <li class="pb3">
      <a href="http://www.candid.fm" class="blue link">Candid</a> — <a href="https://twitter.com/mostlymarius" class="blue link">Marius Masalar</a>, <a href="https://twitter.com/analogsenses" class="blue link">Álvaro Serrano</a>, and <a href="https://twitter.com/joshuaginter" class="blue link">Josh Ginter</a> talk about photography.
    </li>
    <li class="pb3">
      <a href="https://itunes.apple.com/us/podcast/acquired-a-podcast-about-technology-acquisitions-ipos/id1050462261?mt=2" class="blue link">The Canon</a> — Amy Nicholson discusses why a movie belongs (or doesn't belong) in the canon of great movies.
    </li>
    <li class="pb3">
      <a href="https://www.nytimes.com/podcasts/the-daily" class="blue link">The Daily</a> — The New York Times started this podcast after the (disasterous) 2016 election. You can imagine its focus.
    </li>
    <li class="pb3">
      <a href="https://itunes.apple.com/us/podcast/dan-carlins-hardcore-history/id173001861?mt=2" class="blue link">Dan Carlin's Hardcore History</a> — I listened to the World War 1 series and loved it. Dan goes into great detail about global politics, weaponry, mood on the battlefield, etc. I learned so much (including how Franz Ferdinand actually died).
    </li>
    <li class="pb3">
      <a href="https://itunes.apple.com/us/podcast/extra-hot-great/id682755715?mt=2" class="blue link">Extra Hot Great</a> — Television show recaps, news, and quizzes. Can't go wrong.
    </li>
    <li class="pb3">
      <a href="https://itunes.apple.com/us/podcast/the-filmcast/id281400220?mt=2" class="blue link">The /Filmcast</a> — Movie reviews from an entertaining bunch.
    </li>
    <li class="pb3">
      <a href="https://itunes.apple.com/us/podcast/fivethirtyeight-politics/id1077418457?mt=2" class="blue link">FiveThirtyEight Politics</a> — The 538 team continues to discuss polls and elections.
    </li>
    <li class="pb3">
      <a href="http://www.flophousepodcast.com/" class="blue link">The Flop House</a> — <!--span class="fw6 small-caps black-60">movie</span--> Comedians discuss and review bad movies, but you really listen for the ridiculous tangents.
    </li>
    <li class="pb3">
      <a href="https://itunes.apple.com/us/podcast/fresh-air/id214089682?mt=2" class="blue link">Fresh Air</a> — The one and only Terri Gross interviews just about everyone.
    </li>
    <li class="pb3">
      <a href="https://itunes.apple.com/us/podcast/hidden-brain/id1028908750?mt=2" class="blue link">Hidden Brain</a> — Shankar Vedantam tells compelling stories.
    </li>
    <li class="pb3">
      <a href="https://itunes.apple.com/us/podcast/how-did-this-get-made/id409287913?mt=2" class="blue link">How Did This Get Made</a> — This is my <span class="b">favorite</span> podcast. Comedians review terrible (and awesomely terrible) movies.
    </li>
    <li class="pb3">
      <a href="https://www.theincomparable.com/theincomparable/" class="blue link">The Incomporable</a> — Nerdy topics that are a bit too nerdy for me. However, they occasionally review movies and include John Siracusa. Like I said above, any podcast with Siracusa complaining is a good podcast.
    </li>
    <li class="pb3">
      <a href="https://itunes.apple.com/us/podcast/lovett-or-leave-it/id1216346463?mt=2" class="blue link">Lovett or Leave It</a> — Jon Lovett from <a href="https://getcrookedmedia.com" class="blue link">Crooked Media</a> hosts a comedy show that focuses on politics.
    </li>
    <li class="pb3">
      <a href="https://itunes.apple.com/us/podcast/maltin-on-movies/id935760435?mt=2" class="blue link">Maltin on Movies</a> — Movie discussions from the king of movie discussions.
    </li>
    <li class="pb3">
      <a href="http://nerdist.com/podcasts/nerdist-podcast-channel/" class="blue link">The Nerdist</a> — On average The Nerdist has entertaining guests who have made a contribution to pop culture. Occasionally there's a real gem who significantly touched your life.
    </li>
    <li class="pb3">
      <a href="https://itunes.apple.com/us/podcast/nothing-matters/id1038156784?mt=2" class="blue link">Nothing Matters</a> — <a href="https://twitter.com/lhockenson" class="blue link">Lauren Hockenson</a>, my favorite local journalist, chats with her New York pal, <a href="https://twitter.com/TimminsBen" class="blue link">Ben Timmins</a>, about current affairs with a brutally honest perspective.
    </li>
    <li class="pb3">
      <a href="https://itunes.apple.com/us/podcast/pod-save-america/id1192761536?mt=2" class="blue link">Pod Save America</a> — The Crooked Media crew discuss the latest in politics.
    </li>
    <li class="pb3">
      <a href="https://itunes.apple.com/us/podcast/real-time-with-bill-maher/id98746009?mt=2" class="blue link">Real Time with Bill Maher</a> — If you don't have access to HBO, Bill Maher's show is available as a podcast.
    </li>
    <li class="pb3">
      <a href="https://itunes.apple.com/us/podcast/slates-political-gabfest/id158004641?mt=2" class="blue link">Slate's Political Gabfest</a> — SPG is a great way to keep up with current events and politics.
    </li>
    <li class="pb3">
      <a href="https://itunes.apple.com/us/podcast/the-talk-show-with-john-gruber/id528458508?mt=2" class="blue link">The Talk Show with John Gruber</a> — My favorite Apple journalist, <a href="https://twitter.com/gruber" class="blue link">John Gruber</a>, discusses the latest with Apple and other tech companies.
    </li>
  </ul>
</section>

<hr class="center mw6 mv5 mv6-ns"/>

<!-- WEBSITE -->

<section class="center mw6 pl3 pr3 pl0-ns pr0-ns pb6 lh-copy black-80 f4">
  <div class="b pb2 pt4">
    Website
  </div>
  <p>
    This website is built on <a href="http://jekyllrb.com" class="blue link">Jekyll</a>, styled by <a href="http://tachyons.io" class="blue link">Tachyons</a>, served by <a href="https://www.imgix.com" class="blue link">imgix</a>, and hosted on <a href="https://www.digitalocean.com" class="blue link">Digital Ocean</a>. This page loaded in <span id="load"></span> milliseconds. Kinda cool, right?
  </p>
  <p class="f6">
    David Klein is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for us to earn fees by linking to Amazon.com and affiliated sites.
  </p>
</section>

<!-- <p class="lh-copy" id="load"></p> -->

<script type="text/javascript">
var load = document.querySelector("#load");
window.onload = function () {
  var loadTime = window.performance.timing.domContentLoadedEventEnd-window.performance.timing.navigationStart;
  load.textContent = loadTime;
}
</script>
