<section class="center mw6 pl3 pr3 pt5 pl0-ns pr0-ns pb6 lh-copy black-80">
    <h1 class="f2 lh-title mb0 black-80">
        Context of Use Evalution of Peripheral Displays (CUEPD)
    </h1>
    <div class="cf pv3">
        <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
            <dd class="f6 ml0 small-caps black-60">year</dd>
            <dd class="f6 fw6 ml0">2005</dd>
        </dl>
        <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
            <dd class="f6 ml0 small-caps black-60">roles</dd>
            <dd class="f6 fw6 ml0">Researcher, Writer, Presenter</dd>
        </dl>
    </div>
    <p class="lh-title f6">
        <span class="b">Abstract</span>. A gap exists between the growing prevalence of peripheral displays and appropriate methods for their evaluation. Mankoff et al. present one attempt to bridge this gap by adapting Nielsen’s Heuristic evaluation to the defining characteristics and goals of peripheral displays. In this paper, we present a complementary approach that depends on active user participation and emphasizes the experience of using peripheral displays. The Context of Use Evaluation of Peripheral Displays (CUEPD) captures context of use through individualized scenario building, enactment and reflection. We illustrate the CUEPD method in a study to evaluate two peripheral displays. The evaluation using CUEPD revealed important design recommendations, suggesting that the method may be an important advance in evaluation methods for peripheral displays.
    </p>
    <p class="lh-copy pt4">
        As a student of Human Computer Interaction in the Communications department at Cornell University, I pursued an opportunity to research how people interact with both physical and virtual displays. The team, myself and two PHD students, set out to learn how to teach engineers to build efficient displays that are intended to provide ambient information in an environment. For example, a stock ticker on a wall in a public space, or a small temperature indicator in the corner of a laptop screen. Fortunately, our research was selected to be presented at Interact 2005 in Rome, Italy.
    </p>
    <a class="f6 btn-link-text fw5 br2 ph3 pv2 mt2 dib white bg-blue no-underline" href="https://sites.coecis.cornell.edu/leshed/files/2015/12/interact05-xobqt0.pdf">Read the paper</a>
    <div class="pt5 ttu f6 fw7 mw6 center">
       <a href="/portfolio" class="no-underline blue">← back to portfolio</a>
    </div>
</section>
