<section class="pt5 pb3 ph4 ph0-ns pt6-ns pb6-ns center tc-ns">
   <!-- <img src="https://diklein.imgix.net/fyusion-cover.png?auto=format" alt="Fyusion cover image" width="611" /> -->
   <img src="/img/fyusion-cover.svg" alt="Fyusion cover image" width="917" />
</section>
<section class="center mw6 pl3 pr3 pl0-ns pr0-ns lh-copy black-80">
   <h1 class="f2 lh-copy mb0 pt4 black-80">
      Fyusion
   </h1>
   <div class="cf pv3">
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f6 ml0 small-caps black-60">years</dd>
      <dd class="f6 fw6 ml0">2016</dd>
    </dl>
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f6 ml0 small-caps black-60">position</dd>
      <dd class="f6 fw6 ml0">Principal Designer</dd>
    </dl>
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f6 ml0 small-caps black-60">projects</dd>
      <dd class="f6 fw6 ml0">iOS, Android</dd>
    </dl>
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
        <dd class="f6 ml0 small-caps black-60">manage</dd>
        <dd class="f6 fw6 ml0">2 designers</dd>
    </dl>
  </div>
  <div class="pv4">
     <blockquote class="black-90 ma0 pl4 bl bw1 b--blue">
        <p class="f5 f4-m f3-l measure mt0">
           David has quickly become a crucial asset to the Fyusion team. As a designer he is extremely precise, with a great eye for consistency, balance, and clean simplicity. As a communicator he is clear, rational, and preternaturally patient with his engineering colleagues; crafting our (frequently conflicting) opinions into coherent goals, and following them through to execution. His most important role, though, might be as an advocate for organization and process: he came in at a time when things were chaotic, and helped us institute something uncannily resembling order. I would highly recommend him as a collaborator.
        </p>
        <cite class="f6 ttu tracked fs-normal">——stephen miller, co-founder / vp of engineering</cite>
     </blockquote>
  </div>

  <p>
     <div class="b pb2 f3">
        Background
     </div>
     The Fyusion team simultaneously researches new 3D imagery technology, and maintains a social network that employs that technology: Fyuse. As the Principal Designer it was my responsibility to create interfaces that allowed users to interact with the world using 3D images (Fyuses). I spent my days prototyping new designs such as improvements to the Fyuse-capturing flow, testing them with potential and existing Fyusers (Fyuse users), working with engineers to deploy changes, communicating with the data team to discover successes and failures, and iterating on the original designs. One of the more significant projects I led was a revamp of the onboarding flow.
  </p>

</section>

<hr class="center mw6 mv5 mv6-ns"/>

<!-- HISTORY -->

<section class="center mw6 pl3 pr3 pl0-ns pr0-ns lh-copy">
   <p>
      <div class="b pb2 f3">
         History
      </div>
      I was fortunate to approach an onboarding project because of my thorough user testing experience for <a href="/trullo" class="blue link underline">Trullo</a>, an app I designed previously. There I learned the importance of metaphorically holding a new user's hand to explain an app's purpose. This doesn't mean catapult paragraphs of text at the user or show a busy overlay to label everything on the screen, but, instead, walk the user through the app's primary screens step by step. In fact, in some cases it is necessary to force the user to reach certain screens to construct context.
   </p>
   <p>
      Before jumping into Sketch I took a thorough look at the data and spoke with current users. They would see a few screens, try capturing a Fyuse, occasionally share it, and, hopefully, launch the app again within a day or two. I learned that users were confused: What is a Fyuse? What can I do with a Fyuse? How do I take a Fyuse? Why should I use Fyuse over other photo-related social networks?
   </p>
</section>

<hr class="center mw6 mv5 mv6-ns"/>

<!-- SIGNED OUT -->

<section class="center mw6 pl3 pr3 pl0-ns pr0-ns lh-copy">
   <p>
      <div class="b pb2 f3">
         Signed Out
      </div>
      The first version forced new users to tilt the screen to see all angles of a Fyuse before reaching the signup screen. We discovered two issues leading to a small percentage of users failing to even sign up: there was no obvious way to continue, and users were confused as to why they should sign up altogether. This was remedied by both adding a continue button, and using three screens instead of one to explain Fyuse: "Fyuse is an interactive 3D photo," "See when others interact with your Fyuse with tilts," and "Recording a Fyuse is fun and easy." The second screen which mentions "tilts" is now where the user has the option to interact with the Fyuse to teach the tilts concept. Instead of views, the app relies on tilts to indicate how popular a Fyuse is.
   </p>
   <img src="https://diklein.imgix.net/fyuse-signed-out.png?auto=format" alt="Fyuse signed out" class="mw6-ns db pt5 pb1 hard-margin" width="436" height="889" data-action="zoom" />
   <!-- <img src="/img/fyuse-signed-out.png" alt="Fyuse signed out" class="mw6-ns db pt5 pb1 hard-margin" width="436" height="889"/> -->
</section>

<hr class="center mw6 mv5 mv6-ns"/>

<!-- SIGN UP -->

<section class="center mw6 pl3 pr3 pl0-ns pr0-ns lh-copy">
   <p>
      <div class="b pb2 f3">
         Sign up
      </div>
      After signing up users were subjected to a collection of "featured" Fyuses that were selected by the marketing team, and there were a few snippets of text sprinkled throughout the app. Users were still closing too quickly, and they were unsuccessful with both capturing and sharing an initial Fyuse. The question "What do I do now?" was surprisingly common.
   </p>
   <p>
      Instead of a collection of random Fyuses, we chose the most popular, high-quality Fyuses and presented them to new users with an instruction: "Swipe up / The feed is full of Fyuses." An animating circle representing the motion the user's finger should make also appeared on the screen. The user was unable to tap on anything; only swipe. The goal was to <span class="b">demonstrate</span> the app's amazing potential. Below is a prototype I quickly built in <a href="http://principleformac.com" class="blue link underline">Principle</a>.
   </p>
   <video src="/img/fyuse-feed-scroll.mov" autoplay loop alt="Fyuse feed scroll video" class="mw6-ns db pt5 pb5 hard-margin" width="400" /></video>
   <p>
      After seeing a few rows of Fyuses, the feed froze in place and a new message appeared: "Tap on a fyuse / Let's see one in full screen." The goal was to <span class="b">teach</span> that one should tap on a Fyuse to view and tilt a larger version. Below is another prototype I quickly built in Principle.
   </p>
   <video src="/img/fyuse-feed-tap.mov" autoplay loop alt="Fyuse feed tap video" class="mw6-ns db pt5 pb5 hard-margin" width="400" /></video>
   <p>
      Normally when a user views a Fyuse in full screen, there are many, many actions: like, comment, share, export, report, convert, search, etc. During onboarding, however, we wanted to <span class="b">simplify</span>. The only action a user can take is to tilt because the goal was to reinforce that a Fyuse should always be tilted. An explanatory message appeared: "Tilt your phone / Then you can see every angle."
   </p>
   <img src="https://diklein.imgix.net/fyuse-full-screen-tilt.png?auto=format" alt="Fyuse full screen tilt" class="mw6-ns db pt5 pb5 hard-margin" width="436" height="889" data-action="zoom" />
   <!-- <img src="/img/fyuse-full-screen-tilt.png" alt="Fyuse full screen tilt" class="mw6-ns db pt5 pb5 hard-margin" width="436" height="889"/> -->
   <p>
      One complete tilt revealed a large back button and a different message: "Good job! / Let's go back to the feed." The goal was indicate that a complete tilt occurred, and provide the user a clear way to return to the feed.
   </p>
   <img src="https://diklein.imgix.net/fyuse-full-screen-back.png?auto=format" alt="Fyuse full screen back" class="mw6-ns db pt5 pb5 hard-margin" width="436" height="889" data-action="zoom" />
   <!-- <img src="/img/fyuse-full-screen-back.png" alt="Fyuse full screen tilt" class="mw6-ns db pt5 pb5 hard-margin" width="436" height="889"/> -->
   <p>
      Now, the user has the opportunity to record her own Fyuse. In fact, distracting screens like explore, notifications, messages, settings, add friends, and the user's empty profile are completely hidden until the user attempts to record a Fyuse. A large "RECORD" button appears along with a message encouraging the user to record: "Record a Fyuse / Give it a shot."
   </p>
   <img src="https://diklein.imgix.net/fyuse-record.png?auto=format" alt="Fyuse record" class="mw6-ns db pt5 pb1 hard-margin" width="436" height="889" data-action="zoom" />
   <!-- <img src="/img/fyuse-record.png" alt="Fyuse record" class="mw6-ns db pt5 pb5 hard-margin" width="436" height="889"/> -->
</section>

<hr class="center mw6 mv5 mv6-ns"/>

<!-- RECORD -->

<section class="center pl3 pr3 pl0-ns pr0-ns lh-copy pb6">
      <div class="center mw6 b pb2 f3">
         Record
      </div>
      <p class="center mw6">
         Previously, a video appeared showing a woman record and tilt a Fyuse of a Russian nesting doll. After pouring through new user data we learned that the tendency was to record a 3D selfie. I storyboarded a quick video tutorial of a woman performing the proper motion to capture the perfect Fyuse selfie. A local model was hired, a Breather space was rented, and our videographer shot and edited the video. (Note: Fyusion has quite the versatile team.)
      </p>
   <video src="/img/fyuse-tutorial.mov" autoplay loop alt="Fyuse tutorial" class="mw6-ns db pt5 pb5 hard-margin" width="400" /></video>
   <p class="center mw6">
      The user has the option to watch the video multiple times, or continue. Previously, the user was forced to grant access to the camera before watching the video, We delayed the iOS permissions request until it was time to actually use the camera.
   </p>
   <blockquote class="ph4 ph0-ns f4 f1-ns measure-narrow center pv4">
      <p class="lh-title-ns">
         Decreasing fiction, providing context, and requesting access at the appropriate times are all crucial parts of onboarding.
      </p>
  </blockquote>
  <p class="center mw6">
     When the user's front-facing camera activates, a white oval appears where the user should place her head. The same white oval was used in the tutorial video because the goal, as discussed above, is to help the user capture the perfect selfie Fyuse. A progress bar and text are used to instruct the user to record a semi-circle around her head. If the user goes too fast or reverses direction, a warning appears.
  </p>
  <p class="center mw6">
     Normally when a user records a Fyuse, there is a suite of editing tools, stickers, tags, etc. Since this is <span class="b">onboarding</span> and we only want the user to understand what a Fyuse is and how to record one, all of those tools are removed to decrease complexity. The user once more sees a tilt bar and count to reinforce that a Fyuse should be tilted. There is an opportunity to share with friends on Messenger, friends on iMessage, the Fyuse community, or to just skip.
  </p>
  <img src="https://diklein.imgix.net/fyuse-share.png?auto=format" alt="Fyuse share" class="mw6-ns db pt5 pb5 hard-margin" width="436" height="889" data-action="zoom" />
  <!-- <img src="/img/fyuse-share.png" alt="Fyuse share" class="mw6-ns db pt5 pb5 hard-margin" width="436" height="889"/> -->
  <p class="center mw6">
     Now is when the app requests permission to send push notifications to the user with a silly text example: "Your Fyuse was liked and echoed. Yay!" After making this selection, the user returns to the feed where the entire app is unlocked and ready to use.
  </p>
  <img src="https://diklein.imgix.net/fyuse-apn.png?auto=format" alt="Fyuse apn" class="mw6-ns db pt5 pb5 hard-margin" width="436" height="889" data-action="zoom" />
  <!-- <img src="/img/fyuse-apn.png" alt="Fyuse apn" class="mw6-ns db pt5 pb5 hard-margin" width="436" height="889"/> -->
  <p class="center mw6">
     After testing with a variety of potential users and releasing to a subset of new users, we discovered that by providing clear instructions and explanations, users were much more likely to understand and, most importantly, return to the app again and again.
  </p>
  <p class="mw6 center">
      <a class="f6 btn-link-text fw5 br2 ph3 pv2 mt2 white bg-blue no-underline" href="https://itunes.apple.com/us/app/fyuse-3d-photos/id862863329?mt=8">Download Fyuse</a>
  </p>
   <div class="pt4 ttu f6 fw7 mw6 center">
      <a href="/portfolio" class="no-underline blue">← back to portfolio</a>
   </div>
</section>
