<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>
    {{ page.title }} · {{ site.name}}
  </title>
  <meta name="author" content="{{site.author}}">
  <meta rel="dns-prefetch" href="//diklein.imgix.net" />
  <meta name="description" content="David Klein — a designer in San Francisco who loves coffee">
  <meta property="og:image" content="https://diklein.imgix.net/headshot50.jpg">
  <meta property="og:title" content="{{ page.title | xml_escape }}"/>
  <meta property="og:type" content="{% if page.is_post %}article{% else %}website{% endif %}" />
  <meta property="og:site_name" content="{{ site.name | xml_escape }}"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
  {% if page.layout == 'posts' %}
  <meta name="description" content="{{ page.content | strip_html | truncatewords: 50 }}"/>
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/img/favicon.ico" />
  <link rel="stylesheet" href="{{site.url}}/css/jkl-tachyons.css">
  <link rel="stylesheet" href="{{site.url}}/css/zoom.css">
</head>
