<section class="pt6 pb5 pl3 mw6 mb4 mb0-ns center lh-title white-hover">
  <mark class="f4">After deploying to three million homes, Icontrol Networks was <a href="https://www.wsj.com/articles/comcast-agrees-to-acquire-icontrol-networks-1466700203" class="link underline black-80">acquired</a> by Alarm.com and Comcast!</mark>
</section>
<section class="mw8 pt4-ns pb3-ns center tc">
  <img src="https://diklein.imgix.net/icontrol-large.png?auto=format" alt="Icontrol system" />
  <!-- <img src="/img/icontrol-large.png" alt="Icontrol system" /> -->
</section>
<section class="center mw6 pl3 pr3 pl0-ns pr0-ns lh-copy black-80">
  <h1 class="f2 lh-copy mb0 pt4 black-80">
    Icontrol Networks
  </h1>
  <div class="cf pv3">
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f5 ml0 small-caps black-60">years</dd>
      <dd class="f5 fw6 ml0">2006 — 2012</dd>
    </dl>
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f5 ml0 small-caps black-60">position</dd>
      <dd class="f5 fw6 ml0">UI Designer</dd>
    </dl>
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title">
      <dd class="f5 ml0 small-caps black-60">projects</dd>
      <dd class="f5 fw6 ml0">Web, iPhone, iPad, Android, Touch Screen</dd>
    </dl>
  </div>
  <div class="pv4 mb5">
    <blockquote class="black-90 ma0 pl4 bl bw2 b--blue">
      <p class="f5 f4-m f3-l lh-copy measure mt0">
        David is an excellent user experience designer and brings a blend of creativity, practicality and insight into everything with which he is involved. We collaborated on many design projects together and David tackles each aspect of a design from tough interaction issues down to asset production with enthusiasm. I had a lot of fun working with David. He would be a great asset to any user experience design team.
      </p>
      <cite class="f6 ttu tracked fs-normal">—jim fulker, senior director of user experience</cite>
    </blockquote>
  </div>
  <div class="f4 lh-copy">
    <div class="b">
      Background
    </div>
    <p>
      As a User Interface Designer on a team of three (myself, manager, and illustrator), it was my responsibilty to design the iPhone, iPad, Android, mobile web, touch screen, and web applications.
    </p>
    <p>
      Home security had barely developed in 30 years until iControl came along. They created a box that brought WiFi cameras, light modules, door locks and touchscreen keypads together into one coherent domestic security system. My job was to design an ecosystem of applications to address a variety of users.
    </p>
    <p>
      The project was enormous. It required hundreds of mockups, hardware and software working together, and involved huge risks. However, we overcame the challenges of building an entire ecosystem of apps and services. We went head to head against giant companies with deep pockets and came out with a superior product.
    </p>
    <p>
      The unique iControl system has been adopted by ADT Pulse and installed in <span class="b">over three million homes</span>. That means parents can be notified with a photo when their children arrive at home after school, be alerted by text message if there's a smoke alarm, and watch live video of their pets when they please.
    </p>
  </div>
</section>

<hr class="center mw6 mv5 mv6-ns"/>

<!-- THE ORB -->

<section class="center mw6 pl3 pr3 pl0-ns pr0-ns lh-copy f4">
    <div class="b">
      The Orb
    </div>
    <p>
    A home security system is a complex combination of sensors. The challenge is to provide a visual layer to summarize all environmental and security related activity in the home; a layer that is glanceable and trustworthy. Experienced home security users have never seen all sensors’ states simultaneously. They are accustomed to one small line of text flashing random words like “FAULT” and “READY” on a wireless keypad from the 1980s.
  </p>
  <p>
    The Orb is the result. It appears on all clients to convey the security panel’s arm state, how many doors or windows are open, if motion was recently detected, and if the panel is able to properly communicate with the central monitoring station.
  </p>
  <p>
    Developing the orb concept went through many stages, but it all began with a button.
  </p>
  <img src="https://diklein.imgix.net/orb.png?auto=format" alt="orb" class="mw6 db pv5 hard-margin" width="190" height="190"/>
  <!-- <img src="/img/orb.png" alt="orb" class="mw6 db pv5 hard-margin" width="190" height="190"/> -->
  <p>
    This image can be broken down into several parts. It's red to indicate the security panel is in an Armed state. The shield represents an area where the Orb can be branded. For example, it is replaced by "ADT" on all ADT Pulse systems. Last, this image is synchronized across all clients, so a user can quickly see the state of her home on any client. This includes the web portal, mobile apps, touch screen, and administrative portal for support technicians.
  </p>
  <p>
    For secondary information, a few snippets of text are inserted below the Orb.
  </p>
  <img src="https://diklein.imgix.net/orbwithbars.png?auto=format" alt="orb with two bars" class="mw6 db pv5 hard-margin" width="190" height="182"/>
  <!-- <img src="/img/orbwithbars.png" alt="orb with two bars" class="mw6 db pv5 hard-margin" width="190" height="182"/> -->
  <p>
    Like the Orb, these snippets of text are also synchronized across all clients. The left bar is used to reinforce the exact state of the security panel. This can be Disarmed, Armed Stay, Armed Away, etc. The right bar is used to provide additional details like All Quiet, 2 Doors Open, Sensor Tampered, etc.
  </p>
  <img src="https://diklein.imgix.net/orbwithbarsandicons.png?auto=format" alt="orb with bars and icons" class="mw6 db pv5 hard-margin" width="190" height="185"/>
  <!-- <img src="/img/orbwithbarsandicons.png" alt="orb with bars and icons" class="mw6 db pv5 hard-margin" width="190" height="185"/> -->
  <p>
    There are some extra icons to help call attention to what sensors are currently reporting. The yellow circle shows a number to represent how many door/window sensors are open. The exclamation point icon appears when there is a more troubling issue like a communication issue with the central monitoring station.
  </p>
  <p>
    These behaviors were tested amongst casual security system users, those who do not own a system, and experts. Its success as a way to simplify the security system interface has led to hundreds of thousands (and soon millions) of ADT Pulse installations.
  </p>
</section>

<hr class="center mw6 mv5 mv6-ns"/>

<!-- SENSOR LIST -->

<section class="center mw6 pl3 pr3 pl0-ns pr0-ns lh-copy f4">
    <div class="b">
      Sensor List
    </div>
    <p>
    After tapping the Orb, a list of all sensors appears. The challenge is to categorize and present the sensors in an order that is, again, glanceable. Security panels operate using the following jargon: open, closed, motion, tripped, triggered, trouble, problem, and many more. This creates a confusing experience for users who want to quickly glance at the state of their home.
  </p>
  <p>
    Heuristics were created to simplify the parsing of all this data, and present the sensors in a meaningful and pleasing way. Sensors have an icon, name, and state. In a situation where a home is all quiet, the sensors appear in alphabetical order. However, if a sensor is open, it bubbles up to the top of the list for discoverability. The Orb is updated to reflect this change as well, so users know to tap on the Orb and arrive at the sensor list.
  </p>
  <img src="https://diklein.imgix.net/sensor-list.png?auto=format" alt="orb with bars and icons" class="mw6-ns db pt5 pb1 hard-margin" data-action="zoom" />
  <!-- <img src="/img/sensor-list.png" alt="sensor list" class="mw6-ns db pt5 pb1 hard-margin" width="358" height="750"/> -->
  <p class="f6 black-20 tc">
    Remember when iPhones fit in your hand?
  </p>
</section>

<hr class="center mw6 mv5 mv6-ns"/>

<!-- TOUCH SCREEN -->

<section class="center pl3 pr3 pl0-ns pr0-ns lh-copy pb6 f4">
  <div class="b center mw6">
    Touch Screen
  </div>
  <p class="mw6 center">
    Imagine the possibilities of merging your security system and home automation devices with a wireless, battery-powered touchscreen: arm and disarm your security system, view live video, control thermostats, turn lights on/off, view your morning commute, read news, check stocks, check the local weather, view a slideshow, play sudoku, view energy usage, control locks, alarm clock, view your home's activity, report an emergency, etc.
  </p>
  <p class="mw6 center">
    This can quickly become an iPad-like device. When initially developing the features and functionality of the touchscreen, we used wireframes to chart various flows. The goal is have all stakeholders involved in the project align on functional requirements.
  </p>
  <img src="https://diklein.imgix.net/wireframe-flow.png?auto=format" alt="wireframe flow" class="db pv6 hard-margin" width="433" data-action="zoom" />
  <!-- <img src="/img/wireframe-flow.png" alt="wireframe flow" class="mw6-ns db pv5 hard-margin" /> -->
  <p class="mw6 center">
    Once the initial wireframe is approved, we begin creating a structure of common UI elements.
  </p>
  <img src="https://diklein.imgix.net/grid.png?auto=format" alt="grid wireframes" class="db pv6 hard-margin" width="860" data-action="zoom" />
  <!-- <img src="/img/grid.png" alt="grid wireframes" class="db pv5 hard-margin" /> -->
  <p class="mw6 center">
    As these individual wireframes become more detailed, we continue to update the flows wireframe.
  </p>
  <img src="https://diklein.imgix.net/flow2.png?auto=format" alt="grid wireframes more detail" class="db pv6 hard-margin" width="902" data-action="zoom" />
  <!-- <img src="/img/flow2.png" alt="grid wireframes more detail" class="db pv5 hard-margin" /> -->
  <p class="mw6 center">
    Testing the UI was done with beta systems that were actually deployed in homes. New features would be remotely added to systems, and then detailed feedback would be gathered. We also set up a usability testing lab, and recorded both novice and expert security system users interacting with the product.
  </p>
  <p class="mw6 center">
    Eventually, we have the UI that is now in paying customers' homes.
  </p>
  <img src="https://diklein.imgix.net/touchscreen.png?auto=format" alt="touchscreen hardware" class="db pv6 hard-margin" width="764" data-action="zoom" />
  <!-- <img src="/img/touchscreen.png" alt="touchscreen hardware" class="db pv5 hard-margin" /> -->
  <div class="pt4 ttu f6 fw7 mw6 center">
    <a href="/portfolio" class="no-underline blue">← back to portfolio</a>
  </div>
</section>
