<section class="center mw6 pl3 pr3 pl0-ns pr0-ns mb4 mb6-ns pt6 lh-copy">

  <p class="mb5 f2"><span class="b">{{ site.posts | size }}</span> posts since 2009. Enjoy.</p>

  <!-- OLD SOLUTION -->

  <!-- {% for post in site.posts %}
    <li class="list tl-ns mt4 dim-subtle">
      <a href="{{ post.url }}" title="{{post.title}}" class="no-underline black lh-copy">
        <span class="f4 b blue">{{ post.title }}</span>
        <date class="db i black-30 f4" datetime="{{post.date}}">{{ post.date | date_to_long_string }}</date>
        <div class="pt3 black-80 f4 mb6">
          {{ post.description }}
        </div>
    </a>
    </li>
  {% endfor %} -->

  {% assign postsByYear =
      site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
  {% for year in postsByYear %}
    <div class="f3 b bb b--black-20">{{ year.name }}</span></div>
      <ul class="pb4 pl0">
        {% for post in year.items %}
          <li class="list tl-ns f4 pt2 pb5 dim-subtle">
            <a href="{{ post.url }}" class="b blue no-underline">
              {{ post.title }}
            </a>
            <a href="{{ post.url }}" class="no-underline">
              <div class="pt2 black-80 f4">
                {{ post.description }}
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
  {% endfor %}

</section>
