<script>
   var journalLink = document.querySelector("#journal-link");
   var portfolioLink = document.querySelector("#portfolio-link");
   var aboutLink = document.querySelector("#about-link");
   var title = "{{ page.title }}";
   var tag = "{{ page.tag }}";
   if (title == "Journal" || tag == "journal") {
      journalLink.className += " selected-on-page";
      portfolioLink.className = "no-underline black-30";
      aboutLink.className = "no-underline black-30";
   } else if (title == "Portfolio" || tag == "portfolio") {
      portfolioLink.className += " selected-on-page";
      journalLink.className = "no-underline black-30";
      aboutLink.className = "no-underline black-30";
   } else if (title == "About") {
      aboutLink.className += " selected-on-page";
      journalLink.className = "no-underline black-30";
      portfolioLink.className = "no-underline black-30";
   }

   function runOnScroll() {
     if (document.body.scrollTop >= 800 && window.innerWidth > 415) {
       document.getElementById("modal-tweet").classList.add('db');
     }
   };
   window.addEventListener("scroll", runOnScroll);

   var closeButton = document.querySelector("#modal-close");
   closeButton.addEventListener("click", closeModal);

   function closeModal(event) {
     document.getElementById("modal-tweet").classList.add('display-none');
   }

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/js/zoom.js"></script>
<script src="/js/transition.js"></script>
