<script>
   var journalLink = document.querySelector("#journal-link");
   var portfolioLink = document.querySelector("#portfolio-link");
   var aboutLink = document.querySelector("#about-link");
   var title = "{{ page.title }}";
   var tag = "{{ page.tag }}";
   if (title == "Journal" || tag == "journal") {
      portfolioLink.className = "no-underline black-30";
      aboutLink.className = "no-underline black-30";
   } else if (title == "Portfolio" || tag == "portfolio") {
      journalLink.className = "no-underline black-30";
      aboutLink.className = "no-underline black-30";
   } else if (title == "About") {
      journalLink.className = "no-underline black-30";
      portfolioLink.className = "no-underline black-30";
   }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/js/zoom.js"></script>
<script src="/js/transition.js"></script>
