<section class="pt4 pb3-ns center tc tc-ns">
   <img src="https://diklein.imgix.net/juggle-cover.jpg?auto=format" alt="Juggle cover image" width="1360" />
   <!-- <img src="/img/juggle-cover.jpg" alt="Juggle cover image" width="1360" /> -->
</section>
<section class="center mw6 pl3 pr3 pl0-ns pr0-ns lh-copy black-80">
   <h1 class="f2 lh-copy mb0 pt4 black-80">
      Juggle
   </h1>
   <div class="cf pv3">
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f6 ml0 small-caps black-60">years</dd>
      <dd class="f6 fw6 ml0">2014 — 2016</dd>
    </dl>
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f6 ml0 small-caps black-60">position</dd>
      <dd class="f6 fw6 ml0">Head of Design</dd>
    </dl>
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title">
      <dd class="f6 ml0 small-caps black-60">projects</dd>
      <dd class="f6 fw6 ml0">iPhone, Web</dd>
    </dl>
  </div>
   <p class="lh-copy">
      <div class="b pb2 f3">
         Background
      </div>
      As the sole Designer of Juggle I created the entire user experience and visual design. It was an opportunity to <span class="b">experiment</span>. As a small team we maintained a consistent product cycle: design, prototype, test, iterate, build, release, test, iterate. We learned a tremendous amount about how users sign up for new apps, interpret copy, and, most importantly, how to optimize our core functionality.
   </p>
   <p class="lh-copy">
      At Juggle we want you to have fun with your friends. Right now there are several ways to organize informal events including primitive tools like group text messaging, and complicated tools like Facebook Events, Evite, or Paperless Post. Juggle sits in between this spectrum as a tool that is both fun and easy to use.
   </p>
   <p class="lh-copy">
      Group text messaging seems easy. We use it dozens of time each day. It quickly becomes complicated, however, as you, the host, add additional people to the group, track who is coming, and confirm the time and location. There’s also the inevitable “Please stop texting me!” message.
   </p>
   <p class="lh-copy">
      Facebook Events also seems easy, but the process of creating a new event is time-consuming and cumbersome. There are many options that are just not necessary for an informal get-together with friends.
   </p>
   <p class="lh-copy">
      Juggle is quick. Set the tone with a photo, choose a time and location, tap on a few faces, and send.
   </p>
</section>

<hr class="center mw6 mv5 mv6-ns"/>

<!-- DAY 0 -->

<section class="center mw6 pl3 pr3 pl0-ns pr0-ns lh-copy pb4">
   <p class="lh-copy">
      <div class="b pb2 f3">
         Day 0
      </div>
      The app began with several surprisingly consistent conversations I had with people who enjoy organizing events with their friends:
   </p>
   <blockquote class="black-90 ma0 pl4 bl bw1 b--blue">
       Question: How do you organize going out with your friends?<br />
       Answer: Texting.<br />
       Question: Do you like using text messages for this?<br />
       Answer: No. It’s frustrating.
   </blockquote>
   <p>
       Organizers avoid using applications like Facebook Events until the group feels large, or the RSVPs need to be official for a restaurant table or tickets.
   </p>
   <p>
       I also learned through conversations that one of the reasons people love Snapchat is its extremely quick sharing flow. Juggle's goal was to make a similar flow for creating events.
   </p>
   <p>
       Below are the app’s four fundamentals flows. A <span class="i">Juggler</span> is a registered Juggle user, and a <span class="i">Clown</span> is someone who has not signed up yet. Shhh don't tell our users.
   </p>
</section>

<section class="pl3 pr3 pl0-ns pr0-ns lh-copy">
    <img src="https://diklein.imgix.net/juggle-flow.png?auto=format" alt="orb" class="db pt0 pb4 hard-margin" width="941" data-action="zoom" />
    <!-- <img src="/img/juggle-flow.png" alt="Juggle flow" class="db pt0 pb4 hard-margin" width="941" data-action="zoom" /> -->
    <p class="center mw6">
       These flows are a combination of technical functionality and content. For example, it is important to differentiate between registered and unregistered users because their flows are quite different. Registered users receive an Apple Push Notification (APN), and tapping on an APN launches the app directly to the event. Unregistered users receive a text message, and tapping on the link in the text message launches a mobile browser window.
    </p>
    <p class="center mw6">
      Designing a solution for unregistered users was particularly tricky. How can a host create a successful event if all of her guests need the app? That’s why we built a mobile web version that includes core functionality for guests: submitting an RSVP and writing comments. If a guest wants to download the app and make her own plans, she can tap on the Smart Banner and go to the App Store.
    </p>

</section>

<hr class="center mw6 mv5 mv6-ns"/>

<!-- WELCOME -->

<section class="center pl3 pr3 pl0-ns pr0-ns lh-copy">
   <div class="b pb0 center mw6 f3">
      Welcome
   </div>
   <p class="mw6 center">
      The first time Juggle opens there is a four-screen tutorial explaining the app’s purpose. Users can tap “Get Started” at any time to skip the tutorial and sign up. The goal is to explain the concept behind Juggle through fun photos and a few snippets of text. Below is the fourth iteration of these screens. We began with just signup and login buttons, but potential users inevitably asked, "What is this?" Each iteration included different photos and captions. Our goal was to make Juggle's purpose clear to new users.
   </p>
   <img src="https://diklein.imgix.net/juggle-welcome.png?auto=format" alt="Juggle welcome screens" class="db pt5 pb3 hard-margin" width="1200" data-action="zoom" />
   <!-- <img src="/img/juggle-welcome.png" alt="Juggle welcome screens" class="db pt5 pb3 hard-margin" width="1200" data-action="zoom" /> -->
</section>

<hr class="center mw6 mv5 mv6-ns"/>

<!-- SIGN UP -->

<section class="center pl3 pr3 pl0-ns pr0-ns lh-copy">
   <div class="b pb0 center mw6 f3">
      Sign Up
   </div>
   <p class="mw6 center">
      The initial version of Juggle required the user to enter her phone number to then send a verification code. We made the mistake of not testing the signup flow when talking to test users because we began each test on Juggle's home screen. The feedback was consistent: “Why should I trust you with my phone number?” Several early users refused to even sign up! We carefully changed the signup flow to send a pre-composed text message containing a verification code which accomplishes the same goal, but avoids the perception that Juggle wants to steal phone numbers. This solution completely removed all users' hesitations.
   </p>
   <p class="mw6 center">
      The initial version also had a complicated login and signup screen with 3 options: Register with Facebook, Register with Phone Number, and Log In. This screen only appeared after a user swiped through the welcome tutorial screens, or tapped “Skip.”  We received the following questions from early users:
   </p>
   <ol class="pl3 pl0-ns mw6 center">
      <li class="pb3">
          How did I sign up?
      </li>
      <li class="pb3">
          How should I sign up?
      </li>
      <li class="pb3">
          What’s the difference between using Facebook and a phone number?
      </li>
      <li class="pb2">
          I signed up with Facebook already, so should I tap on the Facebook button or should I tap on Log In?
      </li>
   </ol>
   <p class="mw6 center">
      Our goal was to both encourage Facebook signups for simplicity since they do not require setting and remembering a password, and to alleviate the confusion expressed by users. We redesigned this flow to combine the welcome screens (above), and the signup and login functionality. The new “Get Started” button leads to a screen that includes a Facebook button, and the option to sign up manually. If the user ever logs out or needs to download the app again, the button changes to “Log In."
   </p>
   <img src="https://diklein.imgix.net/juggle-signup.png?auto=format" alt="Juggle signup" class="db pt5 pb3 hard-margin" width="600" data-action="zoom" />
   <!-- <img src="/img/juggle-signup.png" alt="Juggle signup" class="db pt5 pb3 hard-margin" width="600" data-action="zoom" /> -->
   <p class="f6 black-20 tc">
      Left: Prototype · Right: Production
   </p>
</section>

<hr class="center mw6 mv5 mv6-ns"/>

<!-- HOME -->

<section class="center pl3 pr3 pl0-ns pr0-ns lh-copy">
   <div class="b pb0 center mw6 f3">
      Home
   </div>
   <p class="mw6 center">
      A user’s home screen includes all of the events the user has been invited to, and the ability to create a new event. Each event includes a summary with the event’s name, date, time, and number of comments.
   </p>
   <p class="mw6 center">
      After testing with a wide variety of potential users including middle school, high school, and college students, I received consistent feedback:
   </p>
   <ol class="pl3 pl0-ns mw6 center">
      <li class="pb3">
          Event date: “28” does not clearly depict the 28th of the month. Also, it is very difficult to figure out what day of the week “28” represents.
      </li>
      <li class="pb3">
          RSVP status: Users conveyed they do not want to recall if they committed to the event or not, and felt the requirement tap on the event to see their response was frustrating.
      </li>
      <li class="pb3">
          Timestamp: Users said they did not feel that the date the invitation was sent was important.
      </li>
      <li class="pb3">
          Photo: When a user takes a photo and squiggles on it (see Decorate section below), they do not want a large part of their photo to be covered by the event information.
      </li>
      <li class="pb2">
          Comments: Users want to see if there are any new comments without tapping on each event.
      </li>
   </ol>
   <img src="https://diklein.imgix.net/juggle-feed-prototype.png?auto=format" alt="Juggle feed prototype" class="db pt5 pb3 hard-margin" width="320" data-action="zoom" />
   <!-- <img src="/img/juggle-feed-prototype.png" alt="Juggle feed prototype" class="db pt5 pb3 hard-margin" width="320" data-action="zoom" /> -->
   <p class="f6 black-20 tc pb5">
      Thoroughly a prototype
   </p>
   <p class="mw6 center">
      In the latest version of Juggle we addressed the feedback we received during our user testing, and received positive feedback after additional testing.
   </p>
   <ol class="pl3 pl0-ns mw6 center">
      <li class="pb3">
          “28” was replaced by an abbreviated day of the week and month.
      </li>
      <li class="pb3">
          The user’s RSVP status is on top of the image yet small. I experimented with several ways to indicate the user’s status, but they resulted in confusion when the status pointed to the host’s profile photo.
      </li>
      <li class="pb3">
          The invitation’s sent date was removed.
      </li>
      <li class="pb2">
          Less of the photo is covered by information, and a subtle dark overlay replaced the blur overlay.
      </li>
      <li class="pb2">
          The number of comments is next to a comments icon that shows tiny stars around it when new comments are posted. This way the user knows which events have new comments, and is not required to go through each event to see the latest information.
      </li>
   </ol>
   <img src="https://diklein.imgix.net/juggle-feed.png?auto=format" alt="Juggle feed" class="db pt5 pb3 hard-margin" width="320" data-action="zoom" />
   <!-- <img src="/img/juggle-feed.png" alt="Juggle feed" class="db pt5 pb3 hard-margin" width="320" data-action="zoom" /> -->
   <p class="f6 black-20 tc">
      Shipped! Also I seriously had a Blazing Saddles party and cooked chili for everyone.
   </p>
</section>

<hr class="center mw6 mv5 mv6-ns"/>

<!-- DETAILS   -->

<section class="center pl3 pr3 pl0-ns pr0-ns lh-copy">
   <div class="b pb0 center mw6 f3">
      Details
   </div>
   <p class="mw6 center">
      This is the third iteration of the plan creation flow. The initial flow forced users to take a photo, upload a photo, or select a built-in stock photo. This confused users: "Why do I need to take a photo? I want to make a plan." We then combined the photo and details screen, and believed we were done. Unfortunately, users claimed that the screen was confusing. (Design never ends, folks.) We then broke apart the photo and details screens again, but, this time, made details the first screen. Users clearly understood that when on the home screen they tap the plus button to create a new plan. Simple.
   </p>
   <img src="https://diklein.imgix.net/juggle-details.png?auto=format" alt="Juggle details" class="db pt4 pb2 hard-margin" width="800" data-action="zoom" />
   <!-- <img src="/img/juggle-details.png" alt="Juggle details" class="db pt4 pb2 hard-margin" width="800" data-action="zoom" /> -->
   <p class="f6 black-20 tc pb5">
      Left: Empty state · Right: Filled in
   </p>
   <p class="mw6 center">
      It's important to note that the details screen does not have many options. There's no end time, repeat option, "guests can invite other guests" option, etc. As discussed above, we wanted Juggle to be <span class="i">simple</span> compared to other apps.
   </p>
</section>

<hr class="center mw6 mv5 mv6-ns"/>

<!-- DETAILS   -->

<section class="center pl3 pr3 pl0-ns pr0-ns lh-copy">
   <div class="b pb0 center mw6 f3">
      Date & Time
   </div>
   <p class="mw6 center">
      During a very early stage of Juggle, we spoke to several people who claimed to lead their social groups by organizing informal get-togethers. We asked them questions about their habits including how often and in what situation they use applications like Facebook Events, Evite, Paperless Post, etc. One thing we learned was people consistently said they dislike the new date and time picker design that was introduced in iOS 7.
   </p>
   <p class="mw6 center">
     The overall goal was to design and build one that is both easier and more enjoyable to use. The interface is much larger and more forgiving to accidental taps. Users felt the iOS 7 picker was too intricate and delicate.
   </p>
   <p class="mw6 center">
     This interface allowed us to add additional functionality that was requested from early users including the ability to be somewhat vague about the event’s time. This includes options like Morning, Noon, Afternoon, and Evening.
   </p>
   <img src="https://diklein.imgix.net/juggle-time.png?auto=format" alt="Juggle time" class="db pt5 pb2 hard-margin" width="400" data-action="zoom" />
   <!-- <img src="/img/juggle-time.png" alt="Juggle time" class="db pt5 pb2 hard-margin" width="400" data-action="zoom" /> -->
</section>

<hr class="center mw6 mv5 mv6-ns"/>

<!-- EVENT   -->

<section class="center pl3 pr3 pl0-ns pr0-ns lh-copy">
   <div class="b pb0 center mw6 f3">
      Event
   </div>
   <p class="mw6 center">
      Registered guests receive an APN after the host sends the event. After tapping on the APN, the event opens up to fill the screen. A host has additional functionality like changing the time or location, and adding more guests. Users are one tap away from switching to the Maps app to get directions to the event location. Got a question for the Host? Want to tell your guests what to bring? Just leave a comment or share a photo.
   </p>
   <p class="mw6 center">
       When the user first sees a new event screen the two RSVP options partially block the photo or video to encourage the user to RSVP quickly. Tapping on the red frown face or the green smile face hides the entire RSVP bar. One design decision that was debated exhaustedly was providing a Maybe RSVP option. This is a traditional feature amongst other event planning apps. However, we chose to stick to the app’s mission: quick and easy. A Maybe RSVP option results in several design and development ramifications, but it mostly allows guests to be indecisive which places additional stress on the host.
   </p>
   <img src="https://diklein.imgix.net/juggle-event.png?auto=format" alt="Juggle event" class="db pt5 pb2 hard-margin" width="400" data-action="zoom" />
   <!-- <img src="/img/juggle-event.png" alt="Juggle event" class="db pt5 pb2 hard-margin" width="400" data-action="zoom" /> -->
</section>

<hr class="center mw6 mv5 mv6-ns"/>

<!-- SWAG -->

<section class="center pl3 pr3 pl0-ns pr0-ns lh-copy">
   <div class="b pb0 center mw6 f3">
      Swag
   </div>
   <p class="mw6 center">
      We made t-shirts, stickers, MOO cards, and a table banner so we can adequately represent Juggle when promoting the app.
   </p>

   <img src="https://diklein.imgix.net/juggle-swag.jpg?auto=format" alt="Juggle swag" class="db pt5 pb2 hard-margin" width="640" data-action="zoom" />
   <!-- <img src="/img/juggle-swag.jpg" alt="Juggle swag" class="db pt5 pb2 hard-margin" width="640" data-action="zoom" /> -->
</section>

<hr class="center mw6 mv5 mv6-ns"/>

<!-- FINAL THOUGHTS -->

<section class="center pl3 pr3 pl0-ns pr0-ns pb6 lh-copy">
   <div class="b pb0 center mw6 f3">
      Final Thoughts
   </div>
   <p class="mw6 center">
      Again, we built Juggle to help you get together with your friends. We want you to have fun. Now go. Oh and please leave a review on the <a href="https://itunes.apple.com/us/app/juggle-cool-invitations-rsvps-via-text/id903508572?mt=8" class="blue link underline">App Store</a> or upvote on <a href="http://www.producthunt.com/tech/juggle" class="blue link underline">Product Hunt</a>.
   </p>
   <p class="mw6 center">
       <a class="f6 btn-link-text fw5 br2 ph3 pv2 mt2 white bg-blue no-underline" href="https://itunes.apple.com/us/app/juggle-cool-invitations-rsvps-via-text/id903508572?mt=8">Download Juggle</a>
   </p>
   <div class="pt4 ttu f6 fw7 mw6 center">
      <a href="/portfolio" class="no-underline blue">← back to portfolio</a>
   </div>
</section>
