<div class="w-100 fixed center ph0 ph4-ns pv3 bb b--light-gray black bg-white-90">
  <a href="{{site.url}}/" class="dn dib-ns"><img src="/img/headshotheader.jpg" class="v-mid w2 h2 br-100"></a>
  <a href="{{site.url}}/" title="David Klein" class="v-mid f6 f5-ns pl3 pl1-ns black b no-underline title-link">David Klein</a>
  <nav role="navigation" class="dib pr3 pr0-ns fr f6 f5-ns">
    <ul class="dtc v-mid w-75-ns tr nav-list">
      <li class="di pl2 pl4-ns">
        <a href="{{site.url}}/journal" title="Journal" class="no-underline black" id="journal-link">Journal</a>
      </li>
      <li class="di pl2 pl4-ns mb1">
        <a href="{{site.url}}/portfolio" title="Portfolio" class="no-underline black" id="portfolio-link">Portfolio</a>
      </li>
      <li class="di pl2 pl4-ns">
        <a href="{{site.url}}/about" title="About" class="no-underline black" id="about-link">About</a>
      </li>
    </ul>
  </nav>
</div>
