<section class="mw7 center pt4 pb4 pt6-ns pb0-ns">
   <div>
      <blockquote class="black-90 ma0 pl4 bl bw1 b--blue">
         <p class="f5 f4-m f3-l lh-copy measure mt0">
            David has a unique ability to solve complex problems from both an interaction and visual perspective. He can reliably guide you from an idea to a product. His personality is also a valuable asset to any team.
         </p>
         <cite class="f6 ttu tracked fs-normal">—reza raji, founder of icontrol networks</cite>
      </blockquote>
   </div>
</section>

<section class="cf mw7 center pt6-ns">

   <!-- ROW 1 -->

   <article class="fl w-100 w-50-m w-50-ns pa3-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
         <a href="http://www.xeniosystems.com">
            <img style="background-image:url(https://diklein.imgix.net/xenio.png?auto=format); background-size: 368px 368px;"
         class="db bg-center aspect-ratio--object cover" /></a>
      </div>
      <div class="ph4 ph0-ns pb4 db">
         <h3 class="f5 f4-ns mb0"><a href="http://www.xeniosystems.com" class="no-underline black-90">Xenio Systems</a></h3>
         <h3 class="f6 f5 fw4 mt1 black-60 small-caps">current · principal designer</h3>
         <h3 class="f5 fw4 lh-copy mt2 black-80">I am currently leading all design efforts for <a href="http://www.xeniosystems.com" class="link blue underline">Xenio Systems</a> focusing on building a Bluetooth-connected retail experience.</h3>
      </div>
   </article>
   <article class="fl w-100 w-50-m w-50-ns pa3-ns pb4-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
         <a href="https://itunes.apple.com/us/app/fyuse-3d-photos/id862863329?mt=8"><img style="background-image:url(https://diklein.imgix.net/fyusion.png?auto=format); background-size: 368px 368px;"
         class="db bg-center aspect-ratio--object" /></a>
      </div>
      <div class="ph4 ph0-ns pb4 db">
         <h3 class="f5 f4-ns mb0"><a href="https://itunes.apple.com/us/app/fyuse-3d-photos/id862863329?mt=8" class="no-underline black-90">Fyusion</a></h3>
         <h3 class="f6 f5 fw4 mt1 black-60 small-caps">2016 · principal designer</h3>
         <h3 class="f5 fw4 lh-copy mt2 black-80">At Fyusion I researched and redesigned many aspects of the <a href="https://itunes.apple.com/us/app/fyuse-3d-photos/id862863329?mt=8" class="link blue underline">iOS</a> and <a href="https://play.google.com/store/apps/details?id=com.fyusion.fyuse&hl=en" class="link blue underline">Android</a> apps to improve 3d image capturing.</h3>
      </div>
   </article>

   <!-- ROW 2 -->

   <article class="fl w-100 w-50-m w-50-ns pa3-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
         <a href="https://medium.com/@diklein/designing-trullo-dc9adce231e1"><img style="background-image:url(https://diklein.imgix.net/trullo.png?auto=format); background-size: 368px 368px;"
         class="db bg-center aspect-ratio--object" /></a>
      </div>
      <div class="ph4 ph0-ns pb4 db">
         <h3 class="f5 f4-ns mb0"><a href="https://medium.com/@diklein/designing-trullo-dc9adce231e1" class="no-underline black-90">Trullo</a></h3>
         <h3 class="f6 f5 fw4 mt1 black-60 small-caps">2014 — 2015 · head of design</h3>
         <h3 class="f5 fw4 lh-copy mt2 black-80">Social networks cater to posting status updates to a broad audience. <a href="https://medium.com/@diklein/designing-trullo-dc9adce231e1" class="link blue underline">Trullo</a> was for sharing opinions about your favorite things.</h3>
      </div>
   </article>
   <article class="fl w-100 w-50-m w-50-ns pa3-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
         <a href="http://www.getjuggle.com"><img style="background-image:url(https://diklein.imgix.net/juggle.png?auto=format); background-size: 368px 368px;"
         class="db bg-center aspect-ratio--object" /></a>
      </div>
      <div class="ph4 ph0-ns pb4 db">
         <h3 class="f5 f4-ns mb0"><a href="http://www.getjuggle.com" class="no-underline black-90">Juggle</a></h3>
         <h3 class="f6 f5 fw4 mt1 black-60 small-caps">2014 — 2016 · head of design</h3>
         <h3 class="f5 fw4 lh-copy mt2 black-80">There are many ways to organize events: group texts, Facebook Events, etc. <a href="http://www.getjuggle.com" class="link blue underline">Juggle</a> is a replacement that is both fun and easy to use.</h3>
      </div>
   </article>

   <!-- ROW 3 -->

   <article class="fl w-100 w-50-m w-50-ns pa3-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
         <a href="/moovweb"><img style="background-image:url(https://diklein.imgix.net/moovweb.png?auto=format); background-size: 368px 368px;"
         class="db bg-center aspect-ratio--object" /></a>
      </div>
      <div class="ph4 ph0-ns pb4 db">
         <h3 class="f5 f4-ns mb0"><a href="/moovweb" class="no-underline black-90">Moovweb</a></h3>
         <h3 class="f6 f5 fw4 mt1 black-60 small-caps">2013 — 2014 · lead designer</h3>
         <h3 class="f5 fw4 lh-copy mt2 black-80">As Lead Designer at <a href="/moovweb" class="link blue underline">Moovweb</a> my role was to ensure our clients’ mobile websites were efficient, performant, and launched on time.</h3>
      </div>
   </article>
   <article class="fl w-100 w-50-m w-50-ns pa3-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
         <a href="http://wetweet.co"><img style="background-image:url(https://diklein.imgix.net/wetweet.png?auto=format); background-size: 368px 368px;"
         class="db bg-center aspect-ratio--object" /></a>
      </div>
      <div class="ph4 ph0-ns pb4 db">
         <h3 class="f5 f4-ns mb0"><a href="http://wetweet.co" class="no-underline black-90">wetweet</a></h3>
         <h3 class="f6 f5 fw4 mt1 black-60 small-caps">2013 · product designer</h3>
         <h3 class="f5 fw4 lh-copy mt2 black-80"><a href="http://wetweet.co" class="blue link underline">wetweet</a> was born out of my desire to bring one of my favorite Tumblr features to Twitter: the ability to crowdsource my content.</h3>
      </div>
   </article>

   <!-- ROW 4 -->

   <article class="fl w-100 w-50-m w-50-ns pa3-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
         <a href="/icontrol"><img style="background-image:url(https://diklein.imgix.net/icontrol.png?auto=format); background-size: 368px 368px;"
         class="db bg-center aspect-ratio--object" /></a>
      </div>
      <div class="ph4 ph0-ns pb4 db">
         <h3 class="f5 f4-ns mb0"><a href="/icontrol" class="no-underline black-90">Icontrol Networks</a></h3>
         <h3 class="f6 f5 fw4 mt1 black-60 small-caps">2006 — 2012 · ui designer</h3>
         <h3 class="f5 fw4 lh-copy mt2 black-80">The home security industry had barely changed in 30 years until <a href="/icontrol" class="link blue underline">Icontrol</a> came along. We connected your security system to the cloud.</h3>
      </div>
   </article>
   <article class="fl w-100 w-50-m w-50-ns pa3-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
         <a href="https://sites.coecis.cornell.edu/leshed/files/2015/12/interact05-xobqt0.pdf"><img style="background-image:url(https://diklein.imgix.net/interact.png?auto=format); background-size: 368px 368px;"
         class="db bg-center aspect-ratio--object" /></a>
      </div>
      <div class="ph4 ph0-ns pb4 db">
         <h3 class="f5 f4-ns mb0"><a href="https://sites.coecis.cornell.edu/leshed/files/2015/12/interact05-xobqt0.pdf" class="no-underline black-90">The CUEPD Method</a></h3>
         <h3 class="f6 f5 fw4 mt1 black-60 small-caps">2005 · researcher</h3>
         <h3 class="f5 fw4 lh-copy mt2 black-80">My love for design and understanding users began in 2005 with a research project for Interact: <a href="https://sites.coecis.cornell.edu/leshed/files/2015/12/interact05-xobqt0.pdf" class="link blue underline">The CUEPD Method</a>.</h3>
      </div>
   </article>

</section>

<section class="mw7 center pt5 pb6">
   <div>
      <blockquote class="black-90 ma0 pl4 bl bw1 b--blue">
         <p class="f5 f4-m f3-l lh-copy measure mt0">
            David has quickly become a crucial asset to the Fyusion team. As a designer he is extremely precise, with a great eye for consistency, balance, and clean simplicity. As a communicator he is clear, rational, and preternaturally patient with his engineering colleagues; crafting our (frequently conflicting) opinions into coherent goals, and following them through to execution. His most important role, though, might be as an advocate for organization and process: he came in at a time when things were chaotic, and helped us institute something uncannily resembling order. I would highly recommend him as a collaborator.
         </p>
         <cite class="f6 ttu tracked fs-normal">—stephen miller, co-founder / vp of engineering at fyusion</cite>
      </blockquote>
   </div>
</section>
