<section class="center mw6 pl3 pr3 pl0-ns pr0-ns pb4 pb6-ns pt6-ns lh-copy">

   <!-- XENIO -->

   <h1 class="f4 f3-ns lh-copy mb0 pt4 black-80">
      Xenio Systems
   </h1>
   <span class="small-caps black-60">
      current · principal designer
   </span>
   <p class="lh-copy">
      Knausgaard etsy affogato squid edison bulb microdosing, lo-fi celiac portland jean shorts. Pinterest +1 plaid, shoreditch health goth gluten-free fashion axe quinoa coloring book butcher cardigan slow-carb tumblr subway tile literally. Marfa art party mixtape swag plaid man bun.
   </p>
   <a href="#" class="link underline blue">Read more</a>

   <hr class="center mw6 mv5"/>

   <!-- FYUSION -->

   <h1 class="f4 f3-ns lh-copy mb0 black-80">
      Fyusion
   </h1>
   <span class="small-caps black-60">
      2016 — 2017 · principal designer
   </span>
   <p class="lh-copy">
      Knausgaard etsy affogato squid edison bulb microdosing, lo-fi celiac portland jean shorts. Pinterest +1 plaid, shoreditch health goth gluten-free fashion axe quinoa coloring book butcher cardigan slow-carb tumblr subway tile literally. Marfa art party mixtape swag plaid man bun.
   </p>
   <a href="#" class="link underline blue">Read more</a>

   <hr class="center mw6 mv5"/>

   <!-- TRULLO -->

   <h1 class="f4 f3-ns lh-copy mb0 black-80">
      Trullo
   </h1>
   <span class="small-caps black-60">
      2014 — 2015 · head of design
   </span>
   <p class="lh-copy">
      We’re always so excited to discuss our favorite movies, books, and products with friends. But there’s a problem: Current social networks cater to posting photos, status updates, and links to a broad audience. Trullo is an app for sharing opinions, and chatting about your favorite things.
   </p>
   <a href="#" class="link underline blue">Read more</a>

   <hr class="center mw6 mv5"/>

   <!-- JUGGLE -->

   <h1 class="f4 f3-ns lh-copy mb0 black-80">
      Juggle
   </h1>
   <span class="small-caps black-60">
      2014 — 2016 · head of design · side project
   </span>
   <p class="lh-copy">
      At Juggle we want you to have fun with your friends. Right now there are several ways to organize informal events including primitive tools like group text messaging, and complicated tools like Facebook Events, Evite, or Paperless Post. Juggle is a replacement that is both fun and easy to use.
   </p>
   <a href="#" class="link underline blue">Read more</a>

   <hr class="center mw6 mv5"/>

   <!-- MOOVWEB -->

   <h1 class="f4 f3-ns lh-copy mb0 black-80">
      Moovweb
   </h1>
   <span class="small-caps black-60">
      2013 — 2014 · lead designer
   </span>
   <p class="lh-copy">
      Moovweb offers a platform that allows customers to quickly leverage web content and functionality from their websites into new products such as mobile or tablet-specific websites, native apps, and even extensive A/B tests. As Lead Designer my role is to ensure each of our clients’ projects are functional, simple and launch on time.
   </p>
   <a href="#" class="link underline blue">Read more</a>

   <hr class="center mw6 mv5"/>

   <!-- WETWEET -->

   <h1 class="f4 f3-ns lh-copy mb0 black-80">
      wetweet
   </h1>
   <span class="small-caps black-60">
      2013 · product designer · side project
   </span>
   <p class="lh-copy">
      wetweet was born out of my desire to bring one of my favorite Tumblr features to Twitter. It’s a system for companies, communities, clubs and news organizations to have a collaborative twitter feed that’s managed by a central curator with ultimate control of the content and what is published.
   </p>
   <a href="#" class="link underline blue">Read more</a>

   <hr class="center mw6 mv5"/>

   <!-- ICONTROL -->

   <h1 class="f4 f3-ns lh-copy mb0 black-80">
      <a href="{{site.url}}/icontrol" title="iControl" class="black-80 link">iControl Networks</a>
   </h1>
   <span class="small-caps black-60">
      2006 — 2012 · ui designer
   </span>
   <p class="lh-copy">
      Home security had barely developed in 30 years until iControl came along. They created a box that brought WiFi Cameras, light modules, door locks and touchscreen keypads together into one coherent domestic security system. My job was to design the user interface.
   </p>
   <a href="{{site.url}}/icontrol" title="iControl" class="link underline blue">Read more</a>

</section>
