<section class="pl3 pr3 pt6 pl0-ns pr0-ns lh-copy black-80 pb6">
   <div class="mw6 center">
      <h1 class="f3 f2-ns lh-copy mb0 pt4 black-80">
         Xenio Systems
      </h1>
      <div class="cf pv3">
       <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
         <dd class="f5 ml0 small-caps black-60 mb1">years</dd>
         <dd class="f5 fw6 ml0">2016–2017</dd>
       </dl>
       <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
         <dd class="f5 ml0 small-caps black-60 mb1">position</dd>
         <dd class="f5 fw6 ml0">Principal Designer</dd>
       </dl>
       <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
         <dd class="f5 ml0 small-caps black-60 mb1">projects</dd>
         <dd class="f5 fw6 ml0">Web, iOS, iPad</dd>
       </dl>
     </div>
  </div>
  <div class="f4">
     <p class="mw6 center">
        In 2016 and 2017 I led all design efforts for <a href="http://www.xeniosystems.com" class="link blue underline">Xenio Systems</a> focusing on building Bluetooth-connected retail, hospitality, and fitness experiences (imagine Waze for indoors). My responsibilities include designing prototypes that convey our technology's capabilities, a web application for customers to manage floor plans, zones, and marketing campaigns, and an iPad app that guides the installation process for our Bluetooth modules.
     </p>
     <section class="pv5 center tc-ns">
        <img src="https://diklein.imgix.net/xenio-cover2.png?auto=format" alt="Xenio cover image" class="ba b--black-05 br2" width="1200"/>
     </section>
     <p class="mw6 center">
        The image above is a recent iteration of the <span class="b">Xenio Dashboard</span>. The goal is to provide a glanceable interface that conveys fundamental data for a customer site. The design began as a 4 column grid to display each customer-specified zone, but, after testing with a batch of potential customers, I revisited the design to find a more efficient and expandable interface. For example, customers expected customizable charts and site-level data in addition to specific zones. There were also concerns about consuming data in a grid as opposed to a vertical table.
     </p>
     <div class="pv5 center tc-ns">
        <img src="https://diklein.imgix.net/xenio-home.png?auto=format" alt="Xenio home" width="1200" class="ba b--black-05 br2" />
        <!-- <img src="/img/xenio-home.png" alt="Xenio home" width="1200" class="ba b--black-05 br2" /> -->
     </div>
     <p class="mw6 center">
        Above is <span class="b">Xenio Home</span>, a list of applications the customer can launch to design a floor plan, view analytics, and communicate with end users. This screen has gone through many iterations as business requirements evolve. For example, the design at one point had to accomodate seven applications which affected the grid's layout.
     </p>
     <div class="pv5 center tc-ns">
        <img src="https://diklein.imgix.net/xenio-old1.png?auto=format" alt="Xenio home old" width="1200" />
        <!-- <img src="/img/xenio-old1.png" alt="Xenio home old" width="1200" /> -->
     </div>
     <p class="mw6 center">
        After additional discussions with the product team and stakeholders, I learned that one application could be removed and act as an internal tool, one could be automated after an initial setup process, and two could be combined into one more efficient tool. This design also employs tabs (Apps and Sites) to separate functionality and content. Another attempt was made to combine Apps and Sites into one screen to decrease complexity.
     </p>
     <div class="pv5 center tc-ns">
        <img src="https://diklein.imgix.net/xenio-old2.png?auto=format" alt="Xenio home old" width="1200" />
        <!-- <img src="/img/xenio-old2.png" alt="Xenio home old" width="1200" /> -->
     </div>
     <p class="mw6 center">
        Now customers do not need to worry about switching tabs to access applications or sites. This design is structured in a way that forces the customer to <span class="i">act on a site</span> instead of opening site-specific applications and then selecting a site. After speaking with potential customers and the product team again, I learned that customers will typically have one or two sites in the short-term, and prioritizing a list of sites is unnecessary.
     </p>
     <div class="pv5 center tc-ns">
        <img src="https://diklein.imgix.net/xenio-mobile.png?auto=format" alt="Xenio mobile" width="1200" />
        <!-- <img src="/img/xenio-mobile.png" alt="Xenio mobile" width="1200" /> -->
     </div>
     <p class="mw6 center">
        <span class="b">Xenio Showcase</span> is comprised of a variety of prototypes for different industries. With precise indoor positioning, robust features can be added to an existing mobile app using Xenio's SDK. For example, imagine you are in a retail store, grocery store, hotel, or gym. Hopefully those are all easy to imagine. You need some help regarding a product's availability, someone to spot you on the bench press, etc. Instead of tracking someone down, you can simply tap a button and someone will come to you. The screenshots above demonstrate this functionality for a grocery store.
     </p>
   </div>
   <div class="pt4 ttu f6 fw7 mw6 center">
      <a href="/portfolio" class="no-underline blue">← back to portfolio</a>
   </div>
</section>
